body {
    font-family: Arial, sans-serif;
    background-image: url('/gif/gif3.gif');
    background-repeat: repeat;
    background-size: cover;
    color: #ddd; /* Light text color for better readability */
}

.container {
    max-width: 70%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(34, 34, 51, 0.9); /* Dark background with slight transparency */
    border: 1px solid #555; /* Darker border for better contrast */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control, .form-control-file {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #777; /* Dark border */
    background-color: #333; /* Dark background for inputs */
    color: #ddd; /* Light text color */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for a distinctive look */
}

.is-invalid {
    border-color: #dc3545;
}

.is-valid {
    border-color: #28a745;
}

.invalid-feedback {
    display: none;
    color: #dc3545;
}

.is-invalid + .invalid-feedback {
    display: block;
}

.modal-body {
    padding: 20px;
}
.modal-title {
    color: #333;
}
.modal-footer {
    padding: 10px;
    border-top: 1px solid #555; /* Darker border */
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace; /* Monospace font for buttons */
}

.btn:hover {
    background-color: #23527c;
}

.btn-secondary {
    background-color: #666;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #444;
}

.resume {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 20px;
    background-color: #f9f9f9; /* Restore original background color */
    border: 1px solid #ddd;
}

.resume-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #a09999; /* Darker border */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.resume-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.resume-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #c0bdbd; /* Dark background for sections */
    border-left: 5px solid #555; /* Darker border */
    font-size: 18px;
    font-weight: bold;
}

.profile-img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .form-row .form-group {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .resume-header {
        flex-direction: column;
        text-align: center;
    }

    .resume-header img {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .btn {
        width: 100%;
        margin-top: 10px;
    }
}
